{% extends 'base.html.twig' %}

{% block title %} modifier le profil{% endblock %}

{% block body %}
    <h1> modifie ton profil</h1>

    {{ include('profile/_form.html.twig', {'button_label': 'Enregistrer'}) }}
{% endblock %}
