<!-- Footer -->
    <footer class="footer section mt-5">

        <div class="footer-container-container-d-grid">
                <p style="color:#FFF"class="copyright-notice">&copy;2023 808Kulture. Réalisé par Hervé Kilanda.</p>
            </div>

            <div>
                <h6 class="footer-titre">Categories</h6>
                {% if app.user %}
                
                <ul class="footer-list-list">
                    <li class="list-item">
                        <a href="{{path('app_contact')}}" class="list-link">Contact</a>
                    </li>
                    {% endif %}
                    <li class="list-item">
                        <a href="https://github.com/HerveKilanda" class="list-link">Github</a>
                    </li>
                    <li class="list-item">
                       <a href="{{asset('images/Politique de confidentialité.pdf')}}">Politique de Confidentialité</a>
                    </li>
                    <li class="list-item">
                       <a href="{{asset("images/Conditions d'utilisation.pdf")}}">Conditions d'utilisations</a>
                    </li>
                </ul>

            </div>

      

        </div>
        
    </footer>