{% extends 'base.html.twig' %}

{% block title %}808KULTURE{% endblock %}

{% block body %}
{# <h1 class="display-4">808 Kulture : Plongez dans l'univers du rap américain !</h1>
<div class="bg-dark p-5 rounded-lg m-3 jumbotron-custom color:black" style="background-image: url('images/freestyle.jpeg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <p class="lead ">Explorez le monde du rap avec 808 Kulture : Des threads percutants, des critiques engagées et des actualités brûlantes pour une immersion totale dans la culture rap.</p>
  <hr class="my-4">
  
  {% if app.user%}
  

  {% else %}
 #}
  <div class="container">
  <div class="row">
  <h1 class="display-4">808 Kulture : Plongez dans l'univers du rap américain !</h1>
    <div class="col-md-8 mx-auto">
      <div class="bg-dark p-5 rounded-lg m-3 jumbotron-custom" style="background-image: url('images/freestyle.jpeg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
        <div class="text-center text-white">
          <p class="lead">Explorez le monde du rap avec 808 Kulture : Des threads percutants, des critiques engagées et des actualités brûlantes pour une immersion totale dans la culture rap.</p>
          <hr class="my-4">
          {% if app.user %}
          <!-- Contenu pour les utilisateurs connectés -->
          {% else %}
        
          <p class="mb-4">Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
