{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Bienvenue sur 808 Kulture<h1/>

<h4>Bienvenue sur 808 Kulture le meilleure blog sur l'actualité Rap Us.</h4>
{% endblock %}
