{% extends 'base.html.twig' %}

{% block title %}Hello LookupController!{% endblock %}

{% block body %}
<h1>Resultat de ta recherche</h1>
<h2 style="color:#fff"class="my-4">Voici les articles correspondant à votre recherche :</h3>

        {% for article in articles %}
        <div>
        <h3 style="color:#fff">{{ article.titre }}</h3>
        </div>
            <tr>
                <img src="{{ article.image }}" class="img-responsive" height="auto" width="300"alt="...">
                <td>{{ article.contenu }}</td>
                <td>
                    <button class="btn btn-info"><a href="{{ path('app_article_show', {'id': article.id}) }}">detail</a></button>
                </td>
            </tr>

            
        {% else %}
           <div>
            Aucun article a été trouvé pur ces critère de recherche
           </div>
        {% endfor %}

{% endblock %}
