{% extends 'base.html.twig' %}

{% block title %}Message envoyez!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="alert alert-dismissible alert-success">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <a href="#" class="alert-link">Message important</a>.
  Votre message a bien été envoyé ✅
</div>
</div>
{% endblock %}
