/* body{
  
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
   
    transition: background-color .25s,color .25s;
} */

*{
    color: #fff;
}
body{
    background-color: #131417;
    font-size: var(--font-size-sm);
    letter-spacing: 1px;

    
}

H4,h1,a{
    color: #fff;
}

.list-link{
    list-style: none;
    color: #fff
}
.footer-titre{
    color: #fff;
}

