{% extends 'base.html.twig' %}

{% block title %}Créer un nouvelle utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvelle utilisateur</h1>

    {{ include('admin_user/_form.html.twig') }}

    <a href="{{ path('app_admin_user_index') }}">Retour à liste</a>
{% endblock %}
