{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<h1>Contact</h1>

<div>



{% if app.user %}
{{form(form)}}
{% else %}

 {% endif %} 


</div>
{% endblock %}
